:root {
    --te-link-color: #333;
    --te-link-hover-color: #000;
    --te-font: "Gibson";
    --te-secondary-font: "Gibson";
    --te-h1-font-size: 60px;
    --te-color: #e30813;
    --te-hover-color: #bd0f18;
}
body, html {
    background-color: var(--bs-gray-200) !important;
}
a:link, a:visited {
    text-decoration: none;
    color: var(--te-link-color);
}

a:hover {
    color: var(--te-link-hover-color);
}